#MathPreview, #MathBuffer {
    /*border:1px solid;
    padding: 3px;
    width:50%;
    margin-top:5px;*/
    width: 100%;
    text-align: center;
    font-size: 28px;
    z-index: 100;
    color: brown;
    font-weight: 700;

    position: fixed;
}
